.Accordion {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .Button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;

    &:hover,
    &.isHovered {
      background-color: #f7f7f7;
    }
  }

  .Title {
    color: #4b4b4b;
    font-size: 1rem;
    font-weight: 600;
  }

  .Icon {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    stroke: #afafaf;
  }

  &.isOpen {
    .Button {
      background-color: #ddf4ff;

      &:hover {
        background-color: #ddf4ff;
      }
    }

    .Title {
      color: #0097dc;
    }

    .Icon {
      transform: rotate(90deg);
      stroke: #0097dc;
    }
  }
}
