.Auth {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-self: stretch;
  height: 100vh;
  width: 100%;

  padding: 32px 0;
  position: relative;
}

.AuthForm {
  position: relative;
  text-align: center;

  @media (min-width: 700px) {
    & {
      margin-top: 0;
      width: 375px;
    }
  }
}

.Container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: var(--viewport-height);
  align-self: stretch;
  width: 100%;
  padding: var(--modal-padding, 0);
  position: relative;
}

.SignUp {
  position: absolute;
  right: 30px;
  top: 30px;
}

.Close {
  position: absolute;
  left: 30px;
  top: 30px;
}

.Error {
  color: rgb(var(--color-fire-ant));
  margin: 20px 0 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Or {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .Line {
    background: rgb(var(--color-swan));
    flex-grow: 1;
    height: 2px;
  }

  .Children {
    color: rgb(var(--color-hare));
    flex-grow: 0;
    padding: 0 8px;

    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
}

.ForgotPassword {
  border: none;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  align-self: center;
  font: 700 15px / 28px din-round, sans-serif;
  letter-spacing: 0.8px;
  margin-left: -2px;
  margin-right: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(var(--color-hare));

  &:hover {
    color: rgb(var(--color-wolf));
  }
}

.ForgotPasswordError {
  display: grid;
  margin-top: 16px;

  & > span {
    color: rgb(var(--color-fire-ant));
    grid-column: 1;
    grid-row: 1;
  }
}

.ForgotPasswordTitle {
  color: rgb(var(--color-eel));
  font-size: 25px;
  line-height: 1.36;
  margin: 0 0 8px;
}

.ForgotSuccess {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  width: 100%;
}
