.Wrapper {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr min-content;
  min-height: 460px;
  overflow: hidden;
  position: absolute;
  grid-gap: 0;
  grid-template-rows: 100px 1fr 140px;
  min-height: 690px;
  padding: 0;
}

.Header {
  width: 100%;
  max-width: 1080px;
  margin: 0px auto;
  padding: 50px 40px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

.ProgressBar {
  width: 100%;
  height: 16px;
  background-color: rgb(229, 229, 229);
  position: relative;
  border-radius: 8px;

  & .Progress {
    background: #58cc02;
    transition-property:
      background,
      color,
      opacity,
      clip-path,
      -webkit-clip-path;
    transition-duration: 0.4s;
    height: 16px;
  }

  //   &::before,
  //   &::after {
  //     content: '';
  //     display: block;
  //     width: 0%;
  //     height: 16px;
  //     background-color: rgb(88, 204, 2);
  //     position: absolute;
  //     top: 0px;
  //     left: 0px;
  //     border-radius: 7px;
  //     transition: width 0.2s;
  //   }
}

.Body {
  min-height: 0;
  width: 100%;
  grid-column: 1;
  grid-row: 2;
  display: grid;
  height: 100%;
  position: relative;
  width: 100%;
  align-content: center;
  display: grid;
  font-size: 19px;
  height: 100%;
  justify-content: center;
  text-align: center;

  grid-template-columns: min-content;
  grid-template-rows: min-content;
}

.Content {
  //   margin: 72px 29% 4%;
  //   -webkit-box-flex: 1;
  //   flex-grow: 1;
  //   display: flex;
  //   flex-direction: column;
  //   position: relative;
  //   max-height: calc(100% - 240px);
  //   animation-name: animation-48dv85;
  //   animation-duration: 0.2s;

  transform: translateZ(0);
  display: grid;
  gap: 24px;
  grid-template-rows: min-content minmax(0, 1fr);
  min-height: 450px;
  overflow: visible;
  width: 600px;
}

.Footer {
  display: grid;
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 3;
  position: relative;
  z-index: 110;
  // grid-column: 1;
  // grid-row: 1;
  min-height: 0;

  background: rgb(var(--color-snow));
  border-top: 2px solid rgb(var(--color-swan));
  max-height: 140px;
  bottom: 0;
  position: absolute;
  min-height: 140px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  width: 100%;

  & .Inner {
    max-width: 1000px;
    position: relative;
    touch-action: none;
    min-height: 140px;
    padding: 0 40px;
    width: 100%;
    grid-gap: 8px 16px;
    align-items: center;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 100%;
    justify-items: stretch;
    align-items: center;
    grid-auto-rows: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100%;
    justify-content: space-between;

    margin: 0 auto;
  }
}

.Title {
  font-size: 32px;
  font-family: Nunito, sans-serif;
  line-height: 1.25;
  color: rgb(60, 60, 60);
  text-align: left;
  font-weight: 800;
  cursor: default;
  margin: 0px;
}

.QuestionWrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 60px 0px 30px;
}

.Answer {
  background-color: rgb(247, 247, 247);
  border: 2px solid rgb(229, 229, 229);
  border-radius: 10px;
  padding: 10px 12px;
  min-height: 170px;
  width: 100%;
  appearance: none;
  resize: none;
  -webkit-box-flex: 1;
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  line-height: 24px;
  color: rgb(60, 60, 60);
  font-size: 19px;
  font-family: Nunito;
  font-weight: 400;
  letter-spacing: 1px;
}

.SuccessMessage {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  justify-content: center;
  margin: 0;
  min-height: 140px;
  padding: 16px 0;
  position: relative;
}

.SuccessGrid {
  grid-gap: 16px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content 1fr;
}
