:root {
  --viewport-height: 100dvh;
  --web-ui_button-border-radius: 16px;
  --rtl-sign: 1;
  --text-pageTitle-casing-large: none;
  --text-pageTitle-letter-spacing-large: 0;
  --text-pageTitle-line-height-large: 2.75rem;
  --text-pageTitle-size-large: 2.5rem;
  --text-pageTitle-weight-large: 700;
  --text-pageTitle-casing-small: none;
  --text-pageTitle-letter-spacing-small: 0;
  --text-pageTitle-line-height-small: 2.25rem;
  --text-pageTitle-size-small: 2rem;
  --text-pageTitle-weight-small: 700;
  --text-heading-casing-large: none;
  --text-heading-letter-spacing-large: 0;
  --text-heading-line-height-large: 2rem;
  --text-heading-size-large: 1.75rem;
  --text-heading-weight-large: 700;
  --text-heading-casing-medium: none;
  --text-heading-letter-spacing-medium: 0;
  --text-heading-line-height-medium: 2rem;
  --text-heading-size-medium: 1.5rem;
  --text-heading-weight-medium: 700;
  --text-heading-casing-small: none;
  --text-heading-letter-spacing-small: 0;
  --text-heading-line-height-small: 1.5rem;
  --text-heading-size-small: 1.25rem;
  --text-heading-weight-small: 700;
  --text-heading-casing-xsmall: none;
  --text-heading-letter-spacing-xsmall: 0;
  --text-heading-line-height-xsmall: 1.25rem;
  --text-heading-size-xsmall: 1rem;
  --text-heading-weight-xsmall: 700;
  --text-body-casing: none;
  --text-body-letter-spacing: 0;
  --text-body-line-height: 1.75rem;
  --text-body-size: 1.25rem;
  --text-body-weight: 500;
  --text-body-weight-bold: 700;
  --text-body-casing-spacious: none;
  --text-body-letter-spacing-spacious: 0;
  --text-body-line-height-spacious: 2rem;
  --text-body-size-spacious: 1.25rem;
  --text-body-weight-spacious: 500;
  --text-body-weight-spacious-bold: 700;
  --text-caption-casing: none;
  --text-caption-letter-spacing: 0;
  --text-caption-line-height: 1.5rem;
  --text-caption-size: 1rem;
  --text-caption-weight: 500;
  --text-caption-weight-bold: 700;
  --text-label-casing-large: uppercase;
  --text-label-letter-spacing-large: 0.04em;
  --text-label-line-height-large: 1.5rem;
  --text-label-size-large: 1.5rem;
  --text-label-weight-large: 700;
  --text-label-casing-medium: uppercase;
  --text-label-letter-spacing-medium: 0.04em;
  --text-label-line-height-medium: 1rem;
  --text-label-size-medium: 1rem;
  --text-label-weight-medium: 700;
}
