.Navigation {
  left: 0;
  position: fixed !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  background-color: rgb(var(--color-snow));
  border-right: var(--web-ui_navbar-border-right, 2px solid rgb(var(--color-swan)));
  box-sizing: border-box;
  color: rgb(var(--color-hare));
  font:
    500 17px / 25px din-round,
    sans-serif;
  height: 100vh;
  overflow-y: auto;
  padding: 0 16px;
  scrollbar-width: none;
  top: var(--web-ui_topbar-top, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: calc(var(--web-ui_navbar-width-no-labels, 56px) + 32px);
  z-index: 210;

  @media (min-width: 1160px) {
    & {
      width: calc(var(--web-ui_navbar-width, 224px) + 32px);
    }

    &--short {
      width: calc(var(--web-ui_navbar-width-no-labels, 56px) + 32px);
    }
  }
}

.Logo {
  box-sizing: content-box;
  height: 39px;
  padding: 28px 0 25px 8px;

  @media (min-width: 1160px) {
    &:not(.Logo--Navigation--short) {
      height: 30px;
      padding: 32px 0 30px 16px;
    }
  }

  & > a {
    display: block;
    height: 100%;
    width: fit-content;
  }

  &--full {
    display: none;
    height: 30px;
    width: 128px;

    @media (min-width: 1160px) {
      &:not(.Logo--full--Navigation--short) {
        display: initial;
      }
    }
  }

  &--short {
    display: initial;
    height: 40px;
    width: 40px;

    @media (min-width: 1160px) {
      &:not(.Logo--short--Navigation--short) {
        display: none;
      }
    }
  }
}

.NavBar {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: var(--web-ui_navbar-width-no-labels, 56px);

  @media (min-width: 1160px) {
    &:not(.NavBar--short) {
      width: auto;
    }
  }

  .Item {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    border: 2px solid transparent;
    height: 40px;
    padding: var(--web-ui_tab-padding, 4px 8px);

    @media (min-width: 1160px) {
      & {
        justify-content: flex-start;
      }
    }

    & > div {
      display: flex;
      position: relative;
    }

    @media (min-width: 1160px) {
      & > div {
        margin-right: 20px;
      }
    }

    & > span {
      color: rgb(var(--color-wolf));
      display: none;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      transition: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    &:not(.Item--short) > span {
      @media (min-width: 1160px) {
        & {
          display: initial;
        }
      }
    }

    &:hover:not(.Item--active) {
      background-color: rgb(var(--color-polar));
      border-radius: 12px;
    }

    &--active {
      background-color: rgb(var(--color-iguana));
      border: 2px solid rgb(var(--color-blue-jay));
      border-radius: 12px;

      & > span {
        color: rgb(var(--color-macaw));
      }
    }
  }
}
