.MenuContainer {
  width: 100%;
  border-top: 1px solid #dadcde;
  border-bottom: 2px solid #dadcde;
}

.MenuInner {
  width: 100%;
  max-width: 1328px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  height: 68px;
}

.HorizontalList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  max-width: 400px;
}

.ListItem {
  height: 100%;
  margin: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.LogoutButton {
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: #afafaf;
  font-family: 'Nunito';
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 0;
  transition: filter 0.2s ease;
}

.LogoutButton:hover {
  filter: brightness(0.7) contrast(2.5);
}

@media (max-width: 920px) {
  .MenuInner {
    padding: 0 16px;
  }

  .HorizontalList {
    flex-grow: 1;
  }

  .ListItem {
    margin: auto;
  }
}

@media (max-width: 540px) {
  .MenuInner {
    padding: 0;
  }

  .HorizontalList {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}
